<!-- <p>dashboard workss!</p> -->
<!-- <i class="bi bi-bootstrap-fill"></i> -->
<div class="header">
  <span><i class="bi bi-person-circle"></i></span>
  <span><i class="bi bi-bell-fill"></i></span>
  <span><i class="bi bi-envelope-fill"></i></span>
</div>

<div class="container-fluid">
  <!-- section for side navigation -->
  <div class="container sidebar">
    <!-- navigation space-->
    <nav>
      <ul>
        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Dashboard
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Products
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Inventory
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Orders
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Seles
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Customers
          </a>
        </li>

        <li>
          <a href="">
            <div class="icon">
              <i class="bi bi-grid-fill"></i>
            </div>
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- section for router outlet -->
  <div class="container main">
    <router-outlet></router-outlet>
  </div>
</div>
