<!-- <p>delete-doctor works!</p> -->
<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <p>Are you sure you want to delete this {{ doctorName }} ?</p>
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal" />
  </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">No Thanks</button>
  <button mat-raised-button color="warn" (click)="delete()" cdkFocusInitial>
    Delete
  </button>
</mat-dialog-actions>
