<!-- <mat-sidenav-container class="sidenav-container" style="height: 100vh">
  <mat-sidenav
    #sidenav
    fixedInViewport
    mode="side"
    oppened="true"
    style="width: 300px; background-color: #cccc"
  >
    <mat-toolbar>Dashboard</mat-toolbar>

    <mat-nav-list
      ><a mat-list-item routerLinkActive="active" routerLink="">Dashboard</a>
      <a mat-list-item routerLink="">Doctors</a>
      <a mat-list-item routerLink="">Patients</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
        type="btton"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hospital-Management</span>
    </mat-toolbar>

   
    <div>Welcome sir</div>
    <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile>Tile 1</mat-grid-tile>
      <mat-grid-tile>Tile 1</mat-grid-tile>
      <mat-grid-tile>Tile 1</mat-grid-tile>
      <mat-grid-tile>Tile 1</mat-grid-tile>
      <mat-grid-tile>Tile 1</mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->
